body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    font-size: 18px;
    color: #333;
}

img {
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}