body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #6a08af;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    padding: 20px;
    background: #67adea;
    border-radius: 10px;
}

/* Responsive */
@media(max-width:768px){
    .project-grid {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}