body {
  margin: 0;
  font-family: Arial;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #18abd0;
  color: rgba(16, 15, 15, 0.849);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(247, 246, 248);
  text-decoration: none;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  background: #5293e1;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}